---
import AboutHeroImage from '/blog/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About me!"
	pubDate={new Date('February 27 2026')}
	heroImage={AboutHeroImage}
>
	<p>
	</p>
</Layout>
