---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello!</h1>
			<p>
				I'm a developer with not a ton of experience, but I'm still focusing on learning and improving.
				This is a little about me/blog site for you to get to know me a little better!
			</p>
			<p>
				Feel free to check out my <a href="https://github.com/Zynith0">Github</a> to see what I'm working on.
				I'm working on things almost every day, but a lot of them are private. My current biggest project is a 
				matrix client.
			</p>
		</main>
		<Footer />
	</body>
</html>
